{
    "name": "{{ name_prefix }}-win{{ item }}.ansibledemolab.com",
    "description": "",
    "inventory": 2,
    "enabled": true,
    "instance_id": "",
    "variables": "ansible_port: 5986\nansible_connection: psrp\nansible_psrp_cert_validation: ignore\nansible_psrp_auth: credssp"
}
